html,


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.notification__item--success .notification__timer {
  background-color: #3366FF;
 }

 .notification{
   transition: height 600ms linear 0ms!important;
    overflow: hidden!important;
 }

 @media (min-width:200px) {
  .notification{
    
    width: 200px!important;
   }
   .notification__title{
    font-size: .5rem!important;
  }
  .notification__message{
    font-size: .4rem!important;
  }

}
@media (min-width:375px) {
  .notification{
    
    width:330px!important;
    
   }
   .notification__title{
    font-size: .8rem!important;
  }
  .notification__message{
    font-size: .6rem!important;
  }

}
@media (min-width:768px) {
  .notification{
    
    width: 355px!important;
    
   }
   .notification__title{
    font-size: 1rem!important;
  }
  .notification__message{
    font-size: .8rem!important;
  }

}
@media (min-width:1024px) {
   .notification{
    
    width: 400px!important;
    
   }
   .notification__title{
     font-size: 1.2rem!important;
   }
   .notification__message{
    font-size: 1rem!important;
  }
}

.notification__item--success{
  background-color: #385280!important;
  border-left: 8px solid #385280!important;
}


body {
  font-family: "Yekan", sans-serif !important;
}


@font-face {
  font-family: "Yekan";
  src: url("/fonts/Yekan.ttf") format('truetype');
  font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}